main {
    display: flex;
    flex-wrap: wrap;
    max-width: 80vw;
    margin: auto;
    padding: 1vw;
}

header, footer {
    flex: 0 0 100%;
    text-align: center;
}

header, nav, article, footer, body{
    border: 1px solid black;
}

nav{
    flex: 0 1 200px;
}

article{
    flex: 1 0 auto;
    padding: 2vw;
}

form div{
    display: flex;
}

form div label{
    flex: 0 0 50px;
    text-align: right;
    padding-right: 5px;
}

#szemelyesadatok{
    display: grid;
    flex-wrap: wrap;
    gap: 1vh;
}

fieldset{
    border-radius: 5px;
}

#oneletrajz label{
    flex: 0 0 200px;
}

#auto label, #kedvencszin label{
    flex: 0 0 140px;
}

.gombok{
    margin-top: 15px;
}

@media screen and (max-width:914px) {
    nav{
        flex: 0 1 100%;
    }
}